@{
    ViewBag.Title = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<div class="jumbotron">
    <h1>User Database</h1>
    <p class="lead">This is a user database where you can Create,Read,Update and Delete user information. </p>
</div>

<div class="row" style="text-align:center">
    <div class="col-md-4">
        <h4>Register User</h4>
        <p class="glyphicon glyphicon-plus" style=" font-size : 32px; text-align:center">

        </p>
    </div>
    <div class="col-md-4">
        <h4>Update User Details</h4>
        <p class="glyphicon glyphicon-user" style=" font-size : 32px; text-align:center">

    </div>
    <div class="col-md-4">
        <h4>Delete User Details</h4>
        <p class="glyphicon glyphicon-remove" style=" font-size : 32px; text-align:center">

    </div>
</div>